x86asm/build/master.img
x86asm/build/master.vmk
x86asm/build/bx_enh_dbg.ini
x86asm/build/master.img.lock
x86asm/build/*
/x86asm/build/boot.bin
x86asm/build/master.img


x86asm/bochs/pkg
x86asm/bochs/src











# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
